<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Найди собеседника для общения!</h2>


<div>
    {% if request.user.is_authenticated %}
    <h4>
        Hello {{ request.user.username}}
        <a href="registration/sing_up">Сменить пользователя</a>
    </h4>
    {% else %}
</div>

<h4>Вы не вошли в свой профиль!</h4>
<a href="registration/">Создать провиль</a>
<a href="registration/sing_up/">Войти провиль</a>
    {% endif %}
    {% csrf_token %}
<p></p>
<form action="{% url 'find_user' %}" method="get">
    <p><input type="search" name="q" placeholder="Search...">
        <input type="submit" value="Найти"></p>
</form>
<ul>
    {% if object_list%}
        {% for user in object_list %}
            <li>
                {{ user.username }}
                <a href="chat_room/">Начать диалог</a>
            </li>
        {% endfor %}
    {% else %}
        <h4>Нет такого пользователя</h4>
    {% endif %}
</ul>

</body>
</html>