<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<form>
      <div class="container">
        <h1>Вход в учетную запись</h1>
        <hr>

        <label for="User"><b>User</b></label>
        <input type="text" placeholder="Имя аккаунта" name="user_name" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Пароль" name="psw" required>

        <hr>
        <button type="submit" class="registerbtn">Войти</button>
      </div>
    </form>
</body>
</html>